$color-text-black-1: #0d0d0d;
$color-text-gray-1: #575757;
$color-text-gray-2: #868686;
$color-text-gray-3: #dddddd;

@font-face {
   font-family: 'Squadron';
   font-style: normal;
   font-weight: 400;
   src: local('Squadron-Regular'),
      url('../assets/fonts/Squadron-Regular.woff2') format('woff2'),
      url('../assets/fonts/Squadron-Regular.woff') format('woff'),
      url('../assets/fonts/Squadron-Regular.eot') format('eot');
}

@font-face {
   font-family: 'Squadron';
   font-style: bold;
   font-weight: 900;
   src: local('Squadron-Bold'),
      url('../assets/fonts/Squadron-Bold.woff2') format('woff2'),
      url('../assets/fonts/Squadron-Bold.woff') format('woff'),
      url('../assets/fonts/Squadron-Bold.eot') format('eot');
}

@font-face {
   font-family: 'Squadron';
   font-style: italic;
   font-weight: 400;
   src: local('Squadron-RegularItalic'),
      url('../assets/fonts/Squadron-RegularItalic.woff2') format('woff2'),
      url('../assets/fonts/Squadron-RegularItalic.woff') format('woff'),
      url('../assets/fonts/Squadron-RegularItalic.eot') format('eot');
}

@font-face {
   font-family: 'Squadron';
   font-style: italic;
   font-weight: 900;
   src: local('Squadron-boldItalic'),
      url('../assets/fonts/Squadron-boldItalic.woff2') format('woff2'),
      url('../assets/fonts/Squadron-boldItalic.woff') format('woff'),
      url('../assets/fonts/Squadron-boldItalic.eot') format('eot');
}

html {
   box-sizing: border-box;
   font-family: 'Squadron';
}

* {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

.wrapper {
   margin: 0 auto;
   max-width: 1920px;
   padding: 0 15px 0 15px;
   position: relative;
}

.wrap {
   max-width: 1420px;
   margin: 0 auto;
   padding: 0;
}

// Header //

.header {
   padding-top: 19px;
}

.info_header_wrap,
.info_header {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.info_header_wrap::after {
   content: '';
   width: 100%;
   height: 1px;
   background-color: $color-text-gray-3;
   margin-top: 15px;
}

.header_logo {
   img {
      width: 100%;
   }
   @media (max-width: 400px) {
      width: 120px;
   }
}

.info_header {
   gap: 30px;
}

.contact_wrap {
   display: inherit;
   flex-direction: row;
   gap: 10px;

   position: relative;
   .contact_icon {
      position: absolute;
      top: calc(50% - 10px);
   }

   .contact_phone {
      font-size: 14px;
      padding-left: 30px;

      .contact_text {
         font-weight: 100;
         color: $color-text-gray-2;
      }

      .contact_title {
         color: $color-text-black-1;
         font-size: 20px;
         font-weight: bold;

         &:hover {
            opacity: 0.8;
         }
      }
   }
   .contact_text {
      color: $color-text-gray-1;
   }
}

@media (max-width: 600px) {
   .info_header .contact_wrap {
      display: none;
   }
}

.header_user {
   display: inherit;
   color: $color-text-black-1;
   gap: 15px;

   span {
      font-size: 1.8rem;
      cursor: pointer;

      &:hover {
         opacity: 0.5;
      }
   }
   @media (max-width: 400px) {
      span {
         font-size: 1.5rem;
      }
   }
}

.header_search {
   width: 300px;
   border-bottom: 2px solid $color-text-black-1;
   position: relative;
}

.search_icon,
.search_close_icon {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}

.search_close_icon {
   cursor: pointer;
   display: none;
   right: 0;
}

.search_input {
   width: 100%;
   font-size: 14px;
   border: 0;
   outline: none;
   padding: 5px 5px 5px 20px;

   &::placeholder {
      color: $color-text-gray-2;
   }
}

.header_search:focus-within {
   .search_close_icon {
      display: inline;
   }
}

.contact_wrap::after {
   content: '';
   position: absolute;
   background: url('../assets/images/header-decor.png');
   width: 230px;
   height: 100%;

   right: -210px;
   margin-top: 15px;

   @media screen and (max-width: 680px) {
      display: none;
   }
}

.nav {
   flex-wrap: nowrap;
   justify-content: space-between;
   height: 55px;
}

.navbar {
   height: 53px;
   margin: 0;
   padding: 0;
   width: 100%;
}

.navbar {
   font-size: 16px;
   font-weight: bold;
   list-style: none;
   display: flex;
   flex-flow: row nowrap;

   li {
      width: max-content;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      padding: 15px;
      &:hover {
         background-color: $color-text-black-1;
         color: white;
         a {
            color: white;
         }
      }
      a {
         color: $color-text-black-1;
      }
   }

   span {
      margin-left: 8px;
      color: #f56800;
   }
}

.header_filter {
   cursor: pointer;
   min-width: 246px;
   height: 55px;
   border: 1px solid $color-text-gray-3;
   border-top: none;
   text-align: center;
   display: inherit;
   align-items: center;
   justify-content: center;
   color: $color-text-black-1;
   font-weight: bold;
   transition: all 0.2s ease-in-out;

   &::before {
      content: '';
      width: 19px;
      height: 13px;
      margin-right: 10px;
      background: url('../assets/images/icons/filter-black.png') no-repeat;
   }

   &:hover {
      opacity: 0.9;
      background-color: $color-text-black-1;
      color: white;
      &::before {
         background: url('../assets/images/icons/filter.png') no-repeat;
      }
   }
   @media screen and (max-width: 680px) {
      display: none;
   }
}

.burgerBtn_menu {
   width: 40px;
   height: 30px;
   display: none;
   align-items: center;
   justify-content: center;
   position: relative;
   top: -5px;
   cursor: pointer;
   margin-top: 10px;

   span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: $color-text-black-1;
      position: relative;
      &::before,
      &::after {
         content: '';
         width: 30px;
         height: 3px;
         background-color: $color-text-black-1;
         position: absolute;
      }
      &::before {
         top: -10px;
      }
      &::after {
         bottom: -10px;
      }
   }
}

.burgerBtn_menu.active span {
   background-color: transparent;

   &::before,
   &::after {
      transition: transform 0.2s ease-in-out;
   }

   &::before {
      top: 0;
      transform: rotate(45deg);
   }

   &::after {
      bottom: 0;
      transform: rotate(-45deg);
   }
}

@media (max-width: 1142px) {
   .burgerBtn_menu {
      display: flex;
   }
   .navbar {
      display: none;
   }

   .header_search {
      display: none;
   }
}

.navbar_burger {
   display: none;
   flex-direction: column;
   width: 250px;
   height: fit-content;
   background-color: white;
   position: absolute;
   z-index: 2;
   left: 0;
   top: 53px;
   animation: show 0.3s ease-in-out;

   li {
      width: 100%;
      list-style: none;
   }

   @keyframes show {
      from {
         margin-left: -500px;
      }
      to {
         margin-left: 0;
      }
   }
}

.navbar_burger-active {
   display: flex;
}

.search_small {
   display: none;
   position: relative;
   left: -25px;
   width: 100%;
   min-width: 250px;

   @media (max-width: 1142px) {
      display: block;
   }
}

.search_small:focus-within {
   .search_close_icon {
      display: inline;
   }
}

// Banner //

.banner {
   position: relative;
   height: 452px;
   width: 100%;
}

.equip_img {
   background: url('../assets/images/activity-background.png') no-repeat center;
   margin-bottom: 100px;
}

.banner_wrap,
.content_wrap {
   position: relative;
   margin: 0 auto;
   width: 1225px;
   padding: 0 15px 0 15px;
}

.banner_wrap {
   top: 50%;
   transform: translateY(-50%);
}

.banner_info {
   max-width: 562px;
   max-height: 291px;
   width: fit-content;
   background-color: white;
   position: inherit;
   padding: 35px 80px 35px 55px;

   h3 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 15px;
      color: $color-text-black-1;
   }
   p {
      font-size: 14px;
      color: $color-text-gray-2;
      height: 50px;
      overflow: hidden;
      margin-bottom: 10px;
      &:hover {
         overflow: auto;
      }
   }
   @media (max-width: 560px) {
      padding: 18px 40px 18px 27px;
      h3 {
         font-size: 7vw;
      }
   }
}

.equip_nav {
   font-size: 14px;
   margin-bottom: 15px;

   a {
      text-decoration: underline;
      color: $color-text-gray-1;
      &:last-child {
         text-decoration: none;
         &::before {
            content: '/';
            margin: 0 10px 0 10px;
         }
      }
      &:hover {
         text-decoration: none;
      }
   }
}

// Main  - categories //

.categories {
   margin-bottom: 100px;
   gap: 5px;
   display: grid;

   grid-template-areas:
      'turistika turistika ferraty skialpinismus'
      'turistika turistika lezeni lezeni'
      'running kempovani lezeni lezeni'
      'outdoor vysky vybavit vybavit';

   div {
      cursor: pointer;
      position: relative;
      width: 100%;
      height: 100%;

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.25);
         z-index: 1;
      }
      &:hover::after {
         background: none;
         transition: all 0.25s ease-in-out;
      }
   }

   img {
      width: 100%;
      height: 100%;
   }

   p {
      width: 100%;
      z-index: 2;
      color: white;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1px;
      position: absolute;
      top: 50%;
      left: 50%;

      text-align: center;
      transform: translate(-50%, -50%);
   }

   @media screen and (max-width: 768px) {
      grid-template-areas:
         'turistika turistika'
         'turistika turistika'
         'ferraty skialpinismus'
         'lezeni lezeni'
         'lezeni lezeni'
         'running kempovani'
         'outdoor vysky'
         'vybavit vybavit';
   }
}

.turistika {
   grid-area: turistika;
   p {
      font-size: 40px;
      width: 100%;
   }
}

.ferraty {
   grid-area: ferraty;
}

.skialpinismus {
   grid-area: skialpinismus;
}

.lezeni {
   grid-area: lezeni;
   p {
      font-size: 40px;
   }
}

.running {
   grid-area: running;
}

.kempovani {
   grid-area: kempovani;
}

.outdoor {
   grid-area: outdoor;
}

.vysky {
   grid-area: vysky;
}

.vybavit {
   grid-area: vybavit;
}

@media screen and (max-width: 1240px) {
   .categories {
      p {
         font-size: 2.4vw;
      }
   }

   .lezeni,
   .turistika {
      p {
         font-size: 3.2vw;
      }
   }

   .banner_wrap,
   .content_wrap {
      width: 100%;
   }
}

// Main  - details //

.details {
   margin-bottom: 100px;
   gap: 85px;
   display: grid;

   .details_info {
      grid-area: details_info;
   }
   .details_img_1 {
      grid-area: details_img_1;
      float: right;
   }

   .details_img_2 {
      grid-area: details_img_2;
   }

   .details_production {
      grid-area: details_production;
   }

   grid-template-areas:
      'details_info details_img_1'
      'details_img_2 details_production';

   img {
      width: 100%;
      height: auto;
   }

   h5 {
      font-size: 30px;
      font-weight: bold;
      color: $color-text-black-1;
      margin: 50px 0 40px 0;
   }
   p {
      font-size: 16px;
      color: $color-text-gray-2;
      font-weight: 100;
      margin-bottom: 35px;
   }

   @media screen and (max-width: 1020px) {
      grid-template-areas:
         'details_info '
         'details_img_1'
         'details_production'
         'details_img_2 ';

      .details_img_1 {
         float: none;
      }
      img {
         max-width: 585px;
      }
      div {
         width: 100%;
         justify-self: center;
         align-self: center;
      }

      text-align: center;
   }
}

// Banner - News //

.banner_news {
   background: url('../assets/images/news-background.png') no-repeat center;

   height: 367px;
}

.email_form {
   position: relative;
   width: 100%;
   margin-bottom: 10px;
}

.email_input {
   min-width: 150px;

   border: 1px solid $color-text-black-1;
   padding: 15px 15px 15px 25px;
   &::placeholder {
      font-size: 14px;
   }
   @media (max-width: 400px) {
      width: 150px;
   }
}

.email_submit {
   background: none;
   border: 1px solid $color-text-black-1;
   border-left: none;
   height: 100%;
   width: 50px;
   position: absolute;
   cursor: pointer;

   &:hover {
      opacity: 0.6;
   }

   .email_icon {
      position: inherit;
      top: calc(50% - 11px);
      left: calc(50% - 11px);
      font-size: 22px;
   }
}

.email_example {
   font-size: 14px;
   text-decoration: underline;
   font-weight: 100;
   cursor: pointer;
   color: $color-text-black-1;
   &:hover {
      text-decoration: none;
   }
}

// Footer //

.wrap {
   max-width: 1420px;
   margin: 0 auto;
}

.footer {
   padding: 0 15px 0 15px;

   a {
      color: $color-text-black-1;
   }
   li {
      list-style: none;
   }
}

.contact {
   display: flex;
   flex-flow: row wrap;

   margin-top: 20px;

   min-height: 100px;

   align-items: center;

   font-size: 20px;
   font-weight: bold;

   .contact_container {
      gap: 50px;
      display: inherit;
      flex-direction: row wrap;
      min-width: max-content;
   }

   @media (max-width: 1060px) {
      flex-direction: column;
      gap: 20px;

      justify-content: center;
   }
}

@media (max-width: 720px) {
   .contact {
      align-items: start;

      .contact_container {
         flex-direction: column;
         gap: 0;
         row-gap: 20px;
      }
   }

   .contact_container {
      .contact_wrap {
      }
   }
}

.links_container {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;

   max-width: 1420px;
   margin: 0 auto;

   ul {
      min-width: 200px;

      margin-bottom: 20px;
   }

   @media (max-width: 640px) {
      justify-content: space-around;
      padding: 20px 0 20px 0;
   }
}

.links {
   font-size: 14px;

   color: $color-text-black-1;

   a {
      color: $color-text-gray-2;

      &:hover {
         text-decoration: underline;
      }
   }
   li,
   a {
      padding: 10px 0 10px 0;
   }

   li:first-child {
      font-size: 16px;
      font-weight: bold;
      color: $color-text-black-1;
   }
}

.contact_header {
   display: flex;
   flex-direction: row;
   gap: 15px;

   &::after {
      content: '—';
      width: 35px;

      font-size: 18px;
      color: #000;
   }
   @media (max-width: 1060px) {
      &::after {
         display: none;
      }
   }
}

.footer_links {
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   gap: 10px;
   font-size: 14px;
   min-height: 50px;
   color: $color-text-gray-2;

   justify-content: left;
   position: relative;

   li {
      min-width: fit-content;
      position: relative;
      &::after {
         content: '|';
         top: 0;
         left: 0;
         width: 5px;
         margin-left: 10px;
      }
      &:last-child {
         &::after {
            content: '';
         }
      }
   }
}

.footer_links_container {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
   a {
      font-size: 14px;
      color: $color-text-gray-2;
      &:hover {
         text-decoration: underline;
      }
   }
}

.contact_wrap.dsbl_decor {
   &::after {
      content: '';
      background: none;
   }
}

.links_container::after,
.contact::after {
   margin: 0;
   padding: 0;
   content: '';
   height: 1px;
   width: 100%;
   background-color: $color-text-gray-3;
}